<h1>T2M#index</h1>
<p>Find me in app/views/t2_m/index.html.erb</p>

<%= form_tag({controller: "t2m", action: "import", method: "post"}, {multipart: true}) do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Twitterでのつぶやきを一括インポート" %>
<% end %>
<%= link_to("ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-primary")%>